/* Styles for the main container */
.container {
    max-width: 900px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px; /* Padding inside the container */
    margin-top: 10%; /* Top margin of 10% */
}
/* styles Login text */
.login-text {
    align-items: center;
    margin-left: 80px;

}

.login-text h2 {
    align-items: center;
    margin-left: 90px;

}
.required {
            color: red;
            font-size: 18px;
            margin-left: 3px;
        }

/* Styles for form groups */
.form-group {
    margin-bottom: 20px; /* Bottom margin for spacing between form groups */
}

/* Styles for form group labels */
.form-group label {
    display: block; /* Make labels display as block elements */
    margin-bottom: 5px; /* Bottom margin for spacing below labels */
    font-weight: bold; /* Bold text for labels */
}

/* Styles for form controls */
.form-control {
    width: 40%; /* Width of form controls */
    padding: 8px; /* Padding inside form controls */
    font-size: 16px; /* Font size of form controls */
    border: 1px solid #ccc; /* Border around form controls */
    border-radius: 4px; /* Border radius for rounded corners */
}

/* Styles for button groups */
.btn-group {
    margin-top: .0001px; /* Top margin for spacing above button groups */
    margin-bottom: 20px; /* Bottom margin for spacing below button groups */
}

/* Styles for buttons */
.btn {
    padding: 10px 20px; /* Padding inside buttons */
    font-size: 16px; /* Font size of buttons */
    border: none; /* No border for buttons */
    border-radius: 4px; /* Border radius for rounded corners on buttons */
    cursor: pointer; /* Cursor style on hover for buttons */
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    margin-left: 10px;
}

/* Styles for primary buttons */
.btn-primary {
    background-color: #007bff; /* Background color for primary buttons */
    color: #fff; /* Text color for primary buttons */
}

/* Styles for danger (red) buttons */
.btn-danger {
    background-color: #dc3545; /* Background color for danger buttons */
    color: #fff; /* Text color for danger buttons */
}
.alert-success {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
